.button{
    background-color: var(--color-extra);
    border: none;
    color: white;
    border-radius: 0.5rem;
    padding: 1rem;
    font-weight: bold;
    font-weight: bold;
    font-size: 1rem;
    margin:1rem 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    cursor: pointer;
    &:hover{
        background-color: var(--color-secondary);
    }
}