.page {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  height: 70%;
  width: 60%;
  background-color: white;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  display: flex;
  border-radius: 0.5rem;
  padding: 1rem 0 1rem 1rem;
  .left {
    background-color: var(--color-extra);
    flex: 1;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .right {
    border-radius: 0.5rem;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.form {
  width: 80%;
}
.checkbox {
  color: var(--color-gray);
}
.formcontainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.addOrg {
  color: var(--color-primary);
  font-weight: bold;
  cursor: pointer;
}
.heading {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1.2rem;
  color: white;
  padding: 0 5rem;
  .head1{
    font-size: 1.8rem;
  }
  .head2{
    font-size: 1.5rem;
  }
}
.images {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.img1 {
  position: absolute;
  top: -20px;
  left: -100px;
}
.img2 {
  position: relative;
}
.img3 {
  position: absolute;
  top: 150px;
  left: 150px;
}
