.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.form {
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    width: 40%;
}
.multiEmp{
  color: var(--color-primary);
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}
.csvform{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
input[type=file]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: var(--color-extra);
  padding: 10px 20px;
  border-radius: 0.4rem;
  color: #fff;
  cursor: pointer;
  transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
  background: var(--color-secondary);
}