input {
    border: none;
    outline: none;
    font-weight: bold;
    color: black;
    font-size: 16px;
    flex-grow: 1;
    padding: 1.2rem 0;
    background-color:var(--color-input);
}

input::placeholder {
    font-weight: lighter;
    color: var(--color-gray);
    font-weight: bold;
}

.input_wrapp {
    display: flex;
    width: 100%;
}

.input_container:has(input:focus) {
    border: 1px solid var(--color-extra);
}


.input_container {
    border: 1px solid var(--color-background);
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    background-color: var(--color-input);
    margin: 0.5rem 0;
    width: 100%;
    gap:0.5rem;
    padding: 0 1rem;
    
}

.input_container .input_icon {
    font-size: 20px;
    color: var(--color-extra);
    height: 20px;
    padding-right: 5px;
}
.input_icon{
    cursor: pointer;
}


/* .input_wrapper {
  padding: 1rem 0;
} */

.input_label {
    padding: 0 1rem;
  font-weight: bold;
  display: block;
  color: var(--color-primary);
}
