input {
    border: none;
    outline: none;
    font-weight: bold;
    color: black;
    font-size: 16px;
    flex-grow: 1;
    padding: 1.2rem 0;
    background-color: rgb(248, 248, 255);
}

input::placeholder {
    font-weight: lighter;
    color: var(--color-gray);
    font-weight: bold;
}

.input_wrapp {
    display: flex;
    width: 100%;

}

.input_container:has(input:focus) {
    border: 1px solid var(--color-extra);
}


.input_container {
    border: 1px solid var(--color-background);
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    background-color: rgb(248, 248, 255);
    margin: 0.5rem 0;
    width: 100%;
    padding: 0 1rem;
}

.input_container .input_icon {
    font-size: 20px;
    color: var(--color-extra);
    height: 20px;
    padding-right: 5px;
}


.input_wrapper {
    padding: 1rem 0;
}

.form_btn {
    background-color: var(--sec_color);
    flex-grow: 1;
    position: relative;
    padding: 1.2rem 2rem;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
}

.form_btn button {
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;

}

.form_btn::after,
.form_btn::before {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
}

.form_btn::after {
    right: -10px;
}

.form_btn::before {
    left: -10px;
}